# Base de datos (PostgreSQL)
POSTGRES_USER=fiba
POSTGRES_PASSWORD=una_contraseña_segura_para_db
POSTGRES_DB=fiba_stats

# Backend Configuración General
SECRET_KEY=clave_secreta_super_larga_y_segura_aqui_para_produccion
ALLOWED_ORIGINS=https://midominio.com,https://www.midominio.com

# Administrador inicial
ADMIN_USERNAME=admin_empresa
ADMIN_PASSWORD=contraseña_admin_segura
